sudo: false
branches:
  only:
    - master
language: node_js
node_js:
  - "6"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
cache:
  yarn: true
  directories:
    - node_modules
before_script:
  - yarn add coveralls codeclimate-test-reporter
  - yarn run flow-typed-install
script:
  - yarn run flow-check
  - yarn test
after_success:
  - yarn run coveralls
  - yarn run codeclimate
